#map {
    height: 500px;
    width: 800px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    border: #ffffff 2px solid;
    align-items: center;
  }

  @media screen and (max-width: 768px) {
    #map {
      height: 60vh;
      width: 100%;

    }
  }